{{ form_start(form) }}
        {{ form_row(form.Libelle) }}
        {{ form_row(form.Superviseur) }}
        {{ form_row(form.Date) }}
    {% for operation in form.OperationRealisations %}
        <div class="card">
            <div class="card-header">
                {{ operation.vars.value.Libelle }}
            </div>
            <div class="card-body">
                {{ form_row(operation, { 'attr' : { 'class' : 'ope-real-form' }} ) }}
            </div>
        </div>
    {% endfor %}
<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}