{% extends 'base.html.twig' %}

{% block title %}Réalisations de gamme{% endblock %}

{% block body %}
    <h1>Réalisations de la gamme {{ gamme.Libelle }}</h1>

    <table class="table">
        <thead>
        <th>Libelle</th>
        <th>Superviseur</th>
        <th>Actions</th>
        </thead>
        <tbody>
        {% for realisation in realisations %}
            <tr>
                <td>{{ realisation.Libelle }}</td>
                <td>{{ realisation.Superviseur }}</td>
                <td>
                    <a title="Voir les réalisations" class="btn btn-primary" href="#"><i class="fas fa-search"></i></a>
                    <a title="Modification" class="btn btn-primary" href="{{ path('gamme_realisation_edit', {'id': realisation.id}) }}"><i class="fas fa-edit"></i></a>
                    <form method="post" action="{{ path('gamme_realisation_delete', {'id': realisation.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette réalisation de gamme ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ realisation.id) }}">
                        <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <td>Aucune opération disponible.</td>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('gamme_index') }}">Retour aux Gammes</a>

    <a class="btn btn-success" href="{{ path('gamme_new_real', {'id': gamme.id}) }}">Ajouter une réalisation</a>

{% endblock %}
