{% extends 'base.html.twig' %}

{% block title %}Devis index{% endblock %}

{% block body %}
    <style>
        .d-flex a { margin-right: .5em;}
    </style>
    <h1>Devis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Client</th>
                <th>Délai</th>
                <th>Prix Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for devi in devis %}
            <tr>
                <td>{{ devi.Libelle }}</td>
                <td>{{ devi.Client }}</td>
                <td>{{ devi.Delai ? devi.Delai|date('d/m/Y à H:i') : 'Aucun délai' }}</td>
                <td>{{ devi | prixTotalDevis }}€</td>
                <td class="d-flex">
                    <a class="btn btn-primary" href="{{ path('devis_show', {'id': devi.id}) }}"><i class="fas fa-search"></i></a>
                    {% if(devi.Delai is null) %}
                        <a class="btn btn-primary" href="{{ path('devis_edit', {'id': devi.id}) }}"><i class="fas fa-edit"></i></a><form method="post" action="{{ path('devis_delete', {'id': devi.id}) }}" onsubmit="return confirm('Voulez vous supprimer ce devis ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ devi.id) }}">
                            <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun devis trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex">
        <a class="btn btn-primary" href="{{ path('accueil') }}">Retour</a>
        <a class="btn btn-primary" href="{{ path('devis_new') }}">Ajouter un devis</a>
    </div>
{% endblock %}
