{% extends 'base.html.twig' %}

{% block title %}Poste de travail{% endblock %}

{% block body %}
    <h1>Poste de travail</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Ouvrier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for poste_de_travail in poste_de_travails %}
            <tr>
                <td>{{ poste_de_travail.id }}</td>
                <td>{{ poste_de_travail.Libelle }}</td>
                <td>{{ poste_de_travail.Ouvrier }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('poste_show', {'id': poste_de_travail.id}) }}"><i class="fas fa-search"></i></a>
                    <a class="btn btn-primary" href="{{ path('poste_edit', {'id': poste_de_travail.id}) }}"><i class="fas fa-edit"></i></a>
                    <form method="post" action="{{ path('poste_delete', {'id': poste_de_travail.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce poste ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ poste_de_travail.id) }}">
                        <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun poste</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('poste_new') }}">Ajouter un poste</a>
{% endblock %}
