{% extends 'base.html.twig' %}

{% block title %}Poste de travail{% endblock %}

{% block body %}
    <style>
        .actions { display: flex; }
        .actions a { margin-right: .5em; }
    </style>
    <h1>Poste de travail</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ poste_de_travail.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ poste_de_travail.Libelle }}</td>
            </tr>
        </tbody>
    </table>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        <h3>Machines du poste</h3>
        {% for machine in machines %}<tr>
            <tr>
                <td>{{ machine.id }}</td>
                <td>{{ machine.Libelle }}</td>
                <td>
                    <div class="actions">
                        <a class="btn btn-primary" href="{{ path('machine_edit', {'id': machine.id}) }}"><i class="fas fa-edit"></i></a>
                        <form method="post" action="{{ path('machine_delete', {'id': machine.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette machine ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ machine.id) }}">
                            <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune machine</td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>

    <div class="actions">
        <a class="btn btn-primary" href="{{ path('poste_index') }}">Retour aux postes</a>

        <a class="btn btn-primary" href="{{ path('poste_edit', {'id': poste_de_travail.id}) }}">Modification</a>

        <a class="btn btn-primary" href="{{ path('machine_new', {'poste': poste_de_travail.id}) }}">Ajouter une Machine</a>

        {{ include('poste_de_travail/_delete_form.html.twig') }}
    </div>
{% endblock %}
