{% extends 'base.html.twig' %}

{% block title %}Stock{% endblock %}

{% block body %}
<style>
</style>

<div class="container">
    <h1>Stock</h1>

    <table class="table table-hover ">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Libelle</th>
            <th scope="col">Type</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col">Prix Catalogue</th>
            <th scope="col">Fournisseur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

    {% for piece in pieces %}
        <tr>
            <th scope="row">{{ piece.Reference }}</th>
            <td>{{ piece.Libelle }}</td>
            <td>{{ enumType[piece.Type] }}</td>
            <td>{{ piece.Quantite }}</td>
            <td>{% if (piece.Type == 'PL') %} {{ piece.Prix }}€ {% else %} Aucun {% endif  %}</td>
            <td>{% if (piece.Type == 'MP' or piece.Type == 'PA') %} {{ piece.PrixCatalogue }}€ {% else %} Aucun {% endif  %}</td>
            <td> {% if (piece.Fournisseur) %} {{ piece.Fournisseur }} {% else %} Aucun {% endif  %}</td>
            <td>
                <a class="btn btn-primary" href="{{ path('stock_show', {'id': piece.id}) }}" title="Détails"><i class="fas fa-info-circle"></i></a>
                <a class="btn btn-primary" href="{{ path('stock_edit', {'id': piece.id}) }}" title="Modification"><i class="fas fa-edit"></i></a>
                <form method="post" action="{{ path('stock_delete', {'id': piece.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette pièce ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ piece.id) }}">
                    <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </form>

            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8">Pas de pièce disponible</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('stock_new') }}">Ajouter une pièce</a>

</div>
{% endblock %}
